workflows/blog_automation3.json
{
  "name": "Blog Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "sheet",
        "operation": "readRows",
        "documentId": "={{ $json.documentId }}",
        "sheetName": "={{ $json.sheetName }}",
        "range": "={{ $json.range }}",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE",
          "dateTimeRenderOption": "FORMATTED_STRING"
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        740,
        300
      ],
      "id": "1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Blog Content Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME",
          "mode": "list",
          "cachedResultName": "Blog Posts"
        },
        "event": "rowUpdated",
        "options": {}
      },
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "id": "2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "operation": "equals",
              "value2": "Approved"
            }
          ]
        }
      },
      "name": "Status = Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "id": "3"
    },
    {
      "parameters": {
        "jsCode": "// Process the blog content\nconst item = $input.item.json;\n\n// Extract all the fields\nconst title = item['Blog Title'];\nconst metaDescription = item['Meta Description'];\nconst author = item.Author;\nconst content = item['Content Body'];\nconst categoriesAndTags = item['Categories & Tags'];\nconst slug = item['Slug/Permalink'];\nconst imageUrls = item['Image URLs'];\nconst publishDate = item['Publish Date'];\n\n// Process the content (convert markdown to HTML if needed)\nlet processedContent = content;\n\n// If content is in markdown, you would convert it to HTML here\n// For this example, we'll assume it's already in the right format\n\n// Process image URLs\nlet imageUrlsArray = [];\nif (imageUrls && imageUrls.includes(',')) {\n  imageUrlsArray = imageUrls.split(',').map(url => url.trim());\n} else if (imageUrls) {\n  imageUrlsArray = [imageUrls.trim()];\n}\n\n// Create a structured blog post object\nconst blogPost = {\n  title,\n  metaDescription,\n  author,\n  content: processedContent,\n  categoriesAndTags,\n  slug,\n  imageUrls: imageUrlsArray,\n  publishDate,\n  status: 'Approved',\n  processedAt: new Date().toISOString()\n};\n\n// Return the processed blog post\nreturn {json: blogPost};"
      },
      "name": "Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "id": "4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://azani.co.uk/api/blog",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "metaDescription",
              "value": "={{ $json.metaDescription }}"
            },
            {
              "name": "author",
              "value": "={{ $json.author }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "categoriesAndTags",
              "value": "={{ $json.categoriesAndTags }}"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "imageUrls",
              "value": "={{ $json.imageUrls }}"
            },
            {
              "name": "publishDate",
              "value": "={{ $json.publishDate }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Publish to CMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        300
      ],
      "id": "5"
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "updateRow",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Blog Content Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME",
          "mode": "list",
          "cachedResultName": "Blog Posts"
        },
        "range": "={{ $('Google Sheets Trigger').item.json.range }}",
        "options": {
          "valueInputMode": "RAW"
        },
        "valueInputMode": "RAW",
        "dataMode": "autoMapInputData"
      },
      "name": "Update Status to Published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1400,
        300
      ],
      "id": "6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "to": "admin@azani.co.uk",
        "subject": "Blog Post Published: {{ $json.title }}",
        "text": "=A new blog post has been published on Azani.co.uk\n\nTitle: {{ $json.title }}\nAuthor: {{ $json.author }}\nURL: https://azani.co.uk/blog/{{ $json.slug }}\n\nThis post was automatically published by the n8n workflow."
      },
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1620,
        300
      ],
      "id": "7"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Status = Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status = Approved?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Content": {
      "main": [
        [
          {
            "node": "Publish to CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to CMS": {
      "main": [
        [
          {
            "node": "Update Status to Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Published": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "name": "blog"
    },
    {
      "name": "automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-06T09:03:00.000Z",
  "versionId": "1"
}
