workflows/email_outreach_automation.json
{
    "name": "Daily Personalized Business Outreach",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              }
            ]
          }
        },
        "name": "Daily Trigger (9 AM)",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1.1,
        "position": [
          520,
          340
        ]
      },
      {
        "parameters": {
          "documentId": "",
          "sheetId": "YOUR_SPREADSHEET_ID",
          "range": "Sheet1!A2:G",
          "options": {}
        },
        "name": "Get Businesses",
        "type": "n8n-nodes-base.googleSheet",
        "typeVersion": 4.1,
        "position": [
          740,
          340
        ],
        "credentials": {
          "googleSheetApi": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS_ID",
            "name": "Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "name": "Split Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 2.1,
        "position": [
          960,
          340
        ]
      },
      {
        "parameters": {
          "model": "gemini-2.0-flash",
          "prompt": "=Your task is to personalize an outreach email subject and body based on the provided business data and a base template.\n\n**Business Data:**\nName: {{$json.Name}}\nAddress: {{$json.Address}}\nWebsite: {{$json.Website}}\nRating: {{$json.Rating}}\nCity/Area: {{ $json.Address.split(',').slice(-2)[0].trim() }} // Extracts city like Ramsgate/Canterbury\n\n**Base Email Template:**\nSubject: Free Valuation for {{Business Name}}?\n\nHi {{Business Name}} Team,\n\nI came across your business while exploring {{City/Area}} and was impressed by [AI: Insert personalized observation based on Name, Rating, Website, or Address]. I’m Michael, the founder of Arzani—a new UK-based marketplace where genuine buyers and sellers connect to make real business deals happen quickly.\n\nAt Arzani, we’ve already secured serious buyers who are eager to make offers, and now we’re looking to partner with verified sellers like you. As an agile startup, our lean and dedicated team is fully committed to providing personalized, hands-on support—ensuring that you’re never just another listing, but a valued partner in our journey.\n\nHere’s what sets us apart: • Speed: Get your business listed in minutes. • Transparency: Avoid overpriced brokers, drawn-out negotiations, and endless fees. • Personalized Support: We work closely with you to turn opportunities into real deals.\n\nI’d love to offer you a free valuation to show what your business could be worth in today’s market. Would you be available for a brief 10-minute call this week? Simply reply with a convenient time, and we can set it up.\n\nIn the meantime, feel free to explore more at www.arzani.co.uk.\n\nLooking forward to connecting,\n\nMichael\nFounder, Arzani\n\n**Instructions:**\n1. Create a compelling, personalized Subject line. Include the business name.\n2. Replace `{{Business Name}}` with `{{$json.Name}}`.\n3. Replace `{{City/Area}}` with the extracted city/area.\n4. Replace `[AI: Insert personalized observation...]` with a unique sentence relevant to the specific business (e.g., mention their rating, location, type of business if inferrable, or something from their website if provided).\n5. Keep the rest of the email structure and content the same as the base template.\n6. Output ONLY the final Subject line and the final Email Body. Structure your response as a JSON object like this: {\"subject\": \"Your personalized subject here\", \"body\": \"Your full personalized email body here\"}\n",
          "options": {
            "responseFormat": "json_object" 
          }
        },
        "name": "Personalize with Gemini",
        "type": "n8n-nodes-community.googleGemini", 
        "typeVersion": 1, 
        "position": [
          1180,
          340
        ],
        "credentials": {
          "googleGeminiApi": { 
            "id": "YOUR_GEMINI_CREDENTIALS_ID", 
            "name": "Google Gemini API Key"
          }
        }
      },
      {
        "parameters": {
          "from": "Michael <your-email@arzani.co.uk>", 
          "to": "={{ $json[\"Email address\"] }}",
          "subject": "={{ $json.data.subject }}", 
          "text": "={{ $json.data.body }}",
          "options": {}
        },
        "name": "Send Email (SMTP)",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 3.1,
        "position": [
          1400,
          340
        ],
        "credentials": {
          "smtp": {
            "id": "YOUR_SMTP_CREDENTIALS_ID",
            "name": "SMTP Account"
          }
        }
      }
    ],
    "connections": {
      "Daily Trigger (9 AM)": {
        "main": [
          [
            {
              "node": "Get Businesses",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Businesses": {
        "main": [
          [
            {
              "node": "Split Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Items": {
        "main": [
          [
            {
              "node": "Personalize with Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Personalize with Gemini": {
        "main": [
          [
            {
              "node": "Send Email (SMTP)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "pinData": {}
  }