workflows/My_workflow_14.json
{
  "name": "Blog Image Generator Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "d53bbc7a-64d2-4d11-9dbc-88e87c7c4fa3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        60,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog-image-generator",
        "options": {}
      },
      "id": "7e9fe4c0-14b2-4a1f-995a-97c2e5fe9e0d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        60,
        460
      ],
      "webhookId": "c9a8eb64-9eb3-45b1-91f5-1a4932a4f56c"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.source }}",
        "rules": {
          "rules": [
            {
              "value2": "webhook"
            },
            {
              "value2": "sheets",
              "output": 1
            },
            {
              "value2": "schedule",
              "output": 2
            }
          ]
        }
      },
      "id": "ef02c27a-2095-4656-b7cc-4f05393c755e",
      "name": "Source Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        280,
        460
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Blog Content Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {
          "headerRow": true,
          "includeEmptyCell": false
        }
      },
      "id": "c5c4a70e-6a4a-4e04-a56c-e5e1cfb0e5eb",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        300,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_API_CREDENTIALS_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.Status }}",
              "value2": "Pending Image"
            }
          ]
        }
      },
      "id": "6e453cc9-8a27-4953-8e9a-18cbfa8f1c97",
      "name": "Filter For Pending Image",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Prepare the blog title and metadata for image generation\nconst data = items[0].json;\n\n// Create a rich image prompt based on blog content\nconst title = data[\"Blog Title\"] || \"Arzani blog post\";\nconst topic = data[\"Blog Topic\"] || \"business\";\nconst audience = data[\"Target Audience\"] || \"business owners\";\n\n// Create a summary from key points or description\nlet summary = \"\";\nif (data[\"Key Points\"]) {\n  // Use key points if available\n  const keyPoints = data[\"Key Points\"].split(\",\").slice(0, 3);\n  summary = keyPoints.join(\", \");\n} else if (data[\"Meta Description\"]) {\n  // Otherwise use meta description\n  summary = data[\"Meta Description\"];\n}\n\n// Create an optimized image prompt\nconst imagePrompt = `Create a professional, modern image for a business blog post titled \"${title}\". The image should be clean, minimalist, and business-focused, with a subtle color palette that includes blues and whites. Make it relevant to ${topic} for ${audience}. The image should be exactly 600px wide with no borders, but subtle shadows are fine. Key concepts: ${summary}`;\n\n// Set the row index for updating the sheet later\nconst rowIndex = data.rowNumber;\n\nreturn [\n  {\n    json: {\n      blogTitle: title,\n      imagePrompt: imagePrompt,\n      rowIndex: rowIndex,\n      metaData: {\n        topic: topic,\n        audience: audience,\n        category: data[\"Categories & Tags\"] || \"business\",\n        slug: data[\"Slug/Permalink\"] || \"\"\n      }\n    }\n  }\n];"
      },
      "id": "4a4b32c3-1ef2-4bb2-a0ce-0a38de93c9a2",
      "name": "Prepare Image Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "engine": "stable-diffusion-xl-1024-v1-0",
        "prompt": "={{ $json.imagePrompt }}",
        "additionalParameters": {
          "width": 600,
          "height": 400,
          "quality": "standard",
          "negativePrompt": "text, watermark, signature, blurry, distorted, low quality, borders"
        }
      },
      "id": "7b3a8c87-9878-4e53-9b31-6c46e1d1a92c",
      "name": "Generate Image with Stable Diffusion",
      "type": "n8n-nodes-base.stabilityAi",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {
        "stabilityAiApi": {
          "id": "YOUR_STABILITY_AI_CREDENTIALS_ID",
          "name": "Stability.ai Account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "arzani-images1",
        "fileName": "={{ \"blogs/\" + $json.metaData.slug + \"-\" + $now.timestamp + \".jpg\" }}",
        "binaryPropertyName": "data",
        "options": {
          "contentType": "image/jpeg",
          "metadata": {
            "title": "={{ $json.blogTitle }}",
            "categories": "={{ $json.metaData.category }}",
            "width": "600",
            "height": "400",
            "description": "={{ $json.metaData.topic }}"
          },
          "tagging": "={{ \"Topic=\" + $json.metaData.topic + \"&Audience=\" + $json.metaData.audience + \"&Type=blog-image\" }}"
        }
      },
      "id": "2fbf2e6a-32b5-4fda-b7eb-b2c4e9fc2f84",
      "name": "Upload to AWS S3",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "s3": {
          "id": "YOUR_AWS_S3_CREDENTIALS_ID",
          "name": "AWS S3 Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Blog Content Generation"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Image URLs": "={{ \"https://arzani-images1.s3.eu-west-2.amazonaws.com/\" + $json.Key }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "rowIndex"
          ]
        },
        "options": {
          "locationDefinesValues": true
        }
      },
      "id": "ae6c7d9a-e5e1-4b72-aafa-5f14f8e9dfed",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1360,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_API_CREDENTIALS_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl || \"https://arzani.co.uk/api/blog/n8n/webhook\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"image_generated\",\n  \"postData\": {\n    \"slug\": \"{{ $json.metaData.slug }}\",\n    \"hero_image\": \"{{ \"https://arzani-images1.s3.eu-west-2.amazonaws.com/\" + $json.Key }}\",\n    \"updated_at\": \"{{ $now.iso }}\"\n  }\n}",
        "options": {}
      },
      "id": "a8d2c9a7-a18d-4e48-9531-b43ebc5caf25",
      "name": "Notify Blog System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAll"
      },
      "id": "eb3c6b48-8042-4f4a-9fae-0aaa7dae4b20",
      "name": "Webhook Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        460
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "39b83262-7a23-4af8-b9df-e983de02813f",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        520,
        620
      ],
      "webhookId": "wait-8ce6fe3f-2661-48aa-bf04-31de91c337bc"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Source Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Router": {
      "main": [
        [
          {
            "node": "Webhook Data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter For Pending Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter For Pending Image": {
      "main": [
        [
          {
            "node": "Prepare Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Image with Stable Diffusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image with Stable Diffusion": {
      "main": [
        [
          {
            "node": "Upload to AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to AWS S3": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Notify Blog System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Data": {
      "main": [
        [
          {
            "node": "Prepare Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "errorWorkflow": {
      "id": "error-notification-workflow",
      "name": "Error Notification Workflow"
    }
  },
  "versionId": "8779ae9e-d3aa-4309-9419-0a6b43fcaa62",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "My_workflow_14"
}