workflows/My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        -20
      ],
      "id": "23b9611c-ca96-4833-9099-bc746aacc278",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        -20
      ],
      "id": "af89d811-75e9-4193-8d28-4b0bf52e9158",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1BzktJqnwzot73jc",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Approved"
            }
          ]
        }
      },
      "name": "Status = Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        -20
      ],
      "id": "ac2324ba-e97f-4ea6-80fe-5905f89384e1"
    },
    {
      "parameters": {
        "jsCode": "// Process the blog content\nconst item = $input.item.json;\n\n// Extract all the fields\nconst title = item['Blog Title'] || '';\nconst metaDescription = item['Meta Description'] || '';\nconst author = item.Author || 'Azani Team';\nconst content = item['Content Body'] || '';\nconst categoriesAndTags = item['Categories & Tags'] || '';\nconst slug = item['Slug/Permalink'] || '';\nconst imageUrls = item['Image URLs'] || '';\nconst publishDate = item['Publish Date'] || new Date().toISOString().split('T')[0];\n\n// Process the content (convert markdown to HTML if needed)\nlet processedContent = content;\n\n// Check if content is markdown and convert if necessary\nif (content.includes('##') || content.includes('*')) {\n  // This is a simple check - in a production environment, \n  // you might want to use a proper markdown parser like 'marked'\n  processedContent = content\n    .replace(/^# (.+)$/gm, '<h1>$1</h1>')\n    .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    .replace(/\\[(.+?)\\]\\((.+?)\\)/g, '<a href=\"$2\">$1</a>')\n    .replace(/(?:<li>.*<\\/li>)/gs, match => `<ul>${match}</ul>`);\n    .replace(/\\n\\n/g, '</p><p>');\n  \n  processedContent = `<p>${processedContent}</p>`;\n}\n\n// Process image URLs\nlet imageUrlsArray = [];\nif (imageUrls && imageUrls.includes(',')) {\n  imageUrlsArray = imageUrls.split(',').map(url => url.trim());\n} else if (imageUrls) {\n  imageUrlsArray = [imageUrls.trim()];\n}\n\n// Validate slug\nlet cleanSlug = slug;\nif (!cleanSlug) {\n  // Generate slug from title\n  cleanSlug = title.toLowerCase()\n    .replace(/[^\\w\\s-]/g, '') // Remove special chars\n    .replace(/\\s+/g, '-') // Replace spaces with hyphens\n    .replace(/-+/g, '-'); // Remove consecutive hyphens\n}\n\n// Create a structured blog post object\nconst blogPost = {\n  title,\n  metaDescription,\n  author,\n  content: processedContent,\n  categoriesAndTags,\n  slug: cleanSlug,\n  imageUrls: imageUrlsArray,\n  publishDate,\n  status: 'Approved',\n  processedAt: new Date().toISOString()\n};\n\n// Return the processed blog post\nreturn [{json: blogPost}];\n"
      },
      "name": "Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        620,
        -20
      ],
      "id": "4850efa4-de5e-4331-b9f6-05350e38187a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://localhost:5000/api/blog",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "metaDescription",
              "value": "={{ $json.metaDescription }}"
            },
            {
              "name": "author",
              "value": "={{ $json.author }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "categoriesAndTags",
              "value": "={{ $json.categoriesAndTags }}"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "imageUrls",
              "value": "={{ $json.imageUrls }}"
            },
            {
              "name": "publishDate",
              "value": "={{ $json.publishDate }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Publish to CMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        -20
      ],
      "id": "f1ce225a-59ae-4559-be29-344ff1e94e7d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Eqli35grA0lCaoDQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Body",
              "displayName": "Content Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories & Tags",
              "displayName": "Categories & Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug/Permalink",
              "displayName": "Slug/Permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URLs",
              "displayName": "Image URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate with AI",
              "displayName": "Generate with AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Topic",
              "displayName": "Blog Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Points",
              "displayName": "Key Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Email",
              "displayName": "Approver Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Name",
              "displayName": "Approver Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Status to Published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        -20
      ],
      "id": "5d5a1f22-32da-4247-9332-f47b36f9558d",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hello@arzani.co.uk",
        "toEmail": "hello@arzani.co.uk",
        "subject": "Blog Post Published: {{ $json.title }}",
        "options": {}
      },
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1280,
        -20
      ],
      "id": "9fb759bf-ebf0-4dd3-97eb-49b5184a42e2",
      "webhookId": "d86c695c-cae2-4809-86e9-cf59209478a7",
      "credentials": {
        "smtp": {
          "id": "BrWVFmpl9N6qFpoM",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Generate with AI'] }}",
              "value2": "Yes"
            }
          ]
        }
      },
      "name": "Use AI Generation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        180
      ],
      "id": "90f720ba-83b9-4329-81fc-b45e0d194f24"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": " application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "=AIzaSyDXaVCTbHG4APgV5_1PELDjgK8FnhzemBs"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"You are a professional blog writer for Arzani, a UK business marketplace focused on helping people buy and sell businesses. Write a comprehensive, well-structured blog post with the following specifications:\\n\\nTitle: Should I sell my business? -UK1\\n\\nTarget audience: UK business owners, potential business buyers, and entrepreneurs\\n\\nTopic/Focus: Should I sell my business? -UK1\\n\\nKey points to include: Professional business valuation, market trends, optimization strategies\\n\\nTone: Professional but conversational, authoritative but accessible\\n\\nFormat: Use proper HTML formatting with h2 and h3 headings, paragraphs, bullet points where appropriate, and 1-2 call-to-actions encouraging readers to use Arzani's business valuation services.\\n\\nLength: 1000-1500 words\\n\\nStructure: Include an introduction, 3-5 main sections with subheadings, and a conclusion.\\n\\nMake sure to include relevant UK-specific market information and regulations where appropriate. Use British English spelling and terminology.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192\n  }\n}\n",
        "options": {}
      },
      "name": "Generate Blog with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        180
      ],
      "id": "2032fe22-7c96-4742-a844-0520cda9d975",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Eqli35grA0lCaoDQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI-generated content\nconst response = $input.item.json;\nconst item = $('Google Sheets Trigger').item.json;\n\nlet generatedContent = '';\n\n// Check if the response has the expected structure\nif (response.candidates && response.candidates[0] && response.candidates[0].content && response.candidates[0].content.parts && response.candidates[0].content.parts[0]) {\n  generatedContent = response.candidates[0].content.parts[0].text;\n} else {\n  throw new Error('Unexpected API response structure from Gemini');\n}\n\n// Generate meta description from first paragraph\nlet metaDescription = '';\nconst firstParagraph = generatedContent.match(/<p>(.*?)<\\/p>/s);\nif (firstParagraph && firstParagraph[1]) {\n  // Strip HTML tags from first paragraph and limit to 160 chars\n  metaDescription = firstParagraph[1].replace(/<[^>]*>/g, '').substring(0, 160);\n  if (metaDescription.length === 160) metaDescription += '...';\n}\n\n// Extract all the fields\nconst title = item['Blog Title'] || '';\nconst author = item.Author || 'Arzani Team';\nconst categoriesAndTags = item['Categories & Tags'] || '';\nconst slug = item['Slug/Permalink'] || '';\nconst imageUrls = item['Image URLs'] || '';\nconst publishDate = item['Publish Date'] || new Date().toISOString().split('T')[0];\n\n// Process image URLs\nlet imageUrlsArray = [];\nif (imageUrls && imageUrls.includes(',')) {\n  imageUrlsArray = imageUrls.split(',').map(url => url.trim());\n} else if (imageUrls) {\n  imageUrlsArray = [imageUrls.trim()];\n}\n\n// Validate slug\nlet cleanSlug = slug;\nif (!cleanSlug) {\n  // Generate slug from title\n  cleanSlug = title.toLowerCase()\n    .replace(/[^\\w\\s-]/g, '') // Remove special chars\n    .replace(/\\s+/g, '-') // Replace spaces with hyphens\n    .replace(/-+/g, '-'); // Remove consecutive hyphens\n}\n\n// Create a structured blog post object\nconst blogPost = {\n  title,\n  metaDescription: metaDescription || item['Meta Description'] || `${title} - Insights from Arzani's expert business marketplace`,\n  author,\n  content: generatedContent,\n  categoriesAndTags,\n  slug: cleanSlug,\n  imageUrls: imageUrlsArray,\n  publishDate,\n  status: 'AI Generated',\n  processedAt: new Date().toISOString(),\n  aiGenerated: true\n};\n\n// Return the processed blog post\nreturn {json: blogPost};"
      },
      "name": "Process AI Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        620,
        180
      ],
      "id": "24e307e2-6e49-422e-b56e-31e88628fef1"
    },
    {
      "parameters": {
        "fromEmail": "hello@arzani.co.uk",
        "toEmail": "hello@arzani.co.uk",
        "subject": "AI-Generated Blog Post Ready for Review: {{ $json.title }}",
        "options": {}
      },
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        840,
        180
      ],
      "id": "d19eb285-75e5-406e-8fec-5ecf4651c6b9",
      "webhookId": "e41a600c-4071-4c83-8df0-d414e3198b4c",
      "credentials": {
        "smtp": {
          "id": "zRQCxRkdsX51s8fc",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "updateRow",
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "range": "={{ $('Google Sheets Trigger').item.json.range }}",
        "options": {
          "valueInputMode": "RAW"
        },
        "valueInputMode": "RAW",
        "dataMode": "autoMapInputData",
        "valueToUpdate": {
          "values": {
            "Status": "Awaiting Approval",
            "Content Body": "={{ $json.content }}",
            "Meta Description": "={{ $json.metaDescription }}"
          }
        }
      },
      "name": "Update Sheet with AI Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        180
      ],
      "id": "2d9f18bb-457e-4ad9-9e71-15afcda79f03",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "approve-ai-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -40,
        480
      ],
      "webhookId": "ai-content-approval",
      "id": "56381a7c-49f7-4935-8900-25cf93e7a492"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $parameter.query.action }}",
              "value2": "approve"
            }
          ]
        }
      },
      "name": "Action = Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        480
      ],
      "id": "100e73cc-b94a-4853-8855-8acba2d2552e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get AI Blog from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        420,
        380
      ],
      "id": "70209ebd-b8fe-458e-84fd-e45317c9afcb",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Rejected Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        620,
        580
      ],
      "id": "f8722b0b-f2aa-4ab8-ab3a-f8acbfbee63c",
      "webhookId": "ai-content-approval",
      "parametersUi": {
        "contentType": "text/html",
        "responseBody": "<html><body><h1>Content Rejected</h1><p>The AI-generated blog post has been rejected.</p><p><a href=\"https://azani.co.uk/admin/blog\">Return to Blog Admin</a></p></body></html>"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Approved Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        -20
      ],
      "id": "5dc604d0-d805-4b2e-b21e-51e88d2de8a2",
      "webhookId": "ai-content-approval",
      "parametersUi": {
        "contentType": "text/html",
        "responseBody": "<html><body><h1>Content Approved</h1><p>The AI-generated blog post has been approved and published.</p><p><a href=\"https://azani.co.uk/blog/{{ $json.slug }}\">View Published Post</a></p></body></html>"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Body",
              "displayName": "Content Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories & Tags",
              "displayName": "Categories & Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug/Permalink",
              "displayName": "Slug/Permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URLs",
              "displayName": "Image URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate with AI",
              "displayName": "Generate with AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Topic",
              "displayName": "Blog Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Points",
              "displayName": "Key Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Email",
              "displayName": "Approver Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Name",
              "displayName": "Approver Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Status to Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        580
      ],
      "id": "cdee05c2-a431-4ad9-bace-8aa5a13b59bf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Status = Approved?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Use AI Generation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status = Approved?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Content": {
      "main": [
        [
          {
            "node": "Publish to CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to CMS": {
      "main": [
        [
          {
            "node": "Update Status to Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Published": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use AI Generation?": {
      "main": [
        [
          {
            "node": "Generate Blog with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog with Gemini": {
      "main": [
        [
          {
            "node": "Process AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Content": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Update Sheet with AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Action = Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action = Approve?": {
      "main": [
        [
          {
            "node": "Get AI Blog from Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status to Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Blog from Sheet": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Rejected": {
      "main": [
        [
          {
            "node": "Rejected Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Approved Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with AI Content": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c46d03f-30a0-4f79-8eaa-fbc71b022f41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cac95b8f2cca08f3c3fb9bbdc4eeaea309a93918ef2ad6aaa8f7f20747b99afa"
  },
  "id": "Sd9hmNmIOWGp69Sv",
  "tags": [
    {
      "createdAt": "2025-04-06T14:20:49.383Z",
      "updatedAt": "2025-04-06T14:20:49.383Z",
      "id": "FGgfqYBHW3HDGitu",
      "name": "automation"
    },
    {
      "createdAt": "2025-04-06T14:20:49.347Z",
      "updatedAt": "2025-04-06T14:20:49.347Z",
      "id": "GpXc1zQS6rXeO2RQ",
      "name": "ai"
    },
    {
      "createdAt": "2025-04-06T14:20:49.411Z",
      "updatedAt": "2025-04-06T14:20:49.411Z",
      "id": "Wws29qUMxLwJw5rd",
      "name": "blog"
    }
  ]
}