workflows/My_workflow_4 (3).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -80,
        700
      ],
      "id": "6a0791e0-65ae-4867-b658-323b7aba4b8f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        700
      ],
      "id": "09e7228e-ee52-46b9-89ab-ed11a383f53a",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1BzktJqnwzot73jc",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Approved"
            }
          ]
        }
      },
      "name": "Status = Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        720
      ],
      "id": "da732882-3b4c-4552-9142-91487e9c89b6"
    },
    {
      "parameters": {
        "jsCode": "// Process the blog content\nconst item = $input.first().json;\n\n// Extract all the fields\nconst title = item['Blog Title'] || '';\nconst metaDescription = item['Meta Description'] || '';\nconst author = item.Author || 'Azani Team';\nconst content = item['Content Body'] || '';\nconst categoriesAndTags = item['Categories & Tags'] || '';\nconst slug = item['Slug/Permalink'] || '';\nconst imageUrls = item['Image URLs'] || '';\nconst publishDate = item['Publish Date'] || new Date().toISOString().split('T')[0];\n\n// Process the content (convert markdown to HTML if needed)\nlet processedContent = content;\n\n// Check if content is markdown and convert if necessary\nif (content.includes('##') || content.includes('*')) {\n  // This is a simple check - in a production environment, \n  // you might want to use a proper markdown parser like 'marked'\n  processedContent = content\n    .replace(/^# (.+)$/gm, '<h1>$1</h1>')\n    .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    .replace(/\\[(.+?)\\]\\((.+?)\\)/g, '<a href=\"$2\">$1</a>')\n    .replace(/(?:<li>.*<\\/li>)/gs, match => `<ul>${match}</ul>`)\n    .replace(/\\n\\n/g, '</p><p>');\n  \n  processedContent = `<p>${processedContent}</p>`;\n}\n\n// Process image URLs\nlet imageUrlsArray = [];\nif (imageUrls && imageUrls.includes(',')) {\n  imageUrlsArray = imageUrls.split(',').map(url => url.trim());\n} else if (imageUrls) {\n  imageUrlsArray = [imageUrls.trim()];\n}\n\n// Validate slug\nlet cleanSlug = slug;\nif (!cleanSlug) {\n  // Generate slug from title\n  cleanSlug = title.toLowerCase()\n    .replace(/[^\\w\\s-]/g, '') // Remove special chars\n    .replace(/\\s+/g, '-') // Replace spaces with hyphens\n    .replace(/-+/g, '-'); // Remove consecutive hyphens\n}\n\n// Create a structured blog post object\nconst blogPost = {\n  title,\n  metaDescription,\n  author,\n  content: processedContent,\n  categoriesAndTags,\n  slug: cleanSlug,\n  imageUrls: imageUrlsArray,\n  publishDate,\n  status: 'Approved',\n  processedAt: new Date().toISOString()\n};\n\n// Return the processed blog post\nreturn [{json: blogPost}];\n"
      },
      "name": "Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        320,
        720
      ],
      "id": "ce8386ca-d82c-4a4c-b161-b263a5822c98"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/blog/n8n/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "metaDescription",
              "value": "={{ $json.metaDescription }}"
            },
            {
              "name": "author",
              "value": "={{ $json.author }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "categoriesAndTags",
              "value": "={{ $json.categoriesAndTags }}"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "imageUrls",
              "value": "={{ $json.imageUrls }}"
            },
            {
              "name": "publishDate",
              "value": "={{ $json.publishDate }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Publish to CMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        540,
        720
      ],
      "id": "bdb74deb-0780-427d-8de5-ee580b12b5c7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8WV9xVSkhFIsDfL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Title": "={{ $('Process AI Content').item.json.title }}",
            "Meta Description": "={{ $('Process AI Content').item.json.metaDescription }}",
            "Author": "={{ $('Process AI Content').item.json.author }}",
            "Content Body": "={{ $('Process AI Content').item.json.content }}",
            "Categories & Tags": "={{ $('Process AI Content').item.json.categoriesAndTags }}",
            "Slug/Permalink": "={{ $('Process AI Content').item.json.slug }}",
            "Image URLs": "={{ $('Google Sheets Trigger').item.json['Image URLs'] }}",
            "Publish Date": "={{ $('Process AI Content').item.json.publishDate }}",
            "Status": "={{ $('Process AI Content').item.json.status }}"
          },
          "matchingColumns": [
            "Blog Title"
          ],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Body",
              "displayName": "Content Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories & Tags",
              "displayName": "Categories & Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug/Permalink",
              "displayName": "Slug/Permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URLs",
              "displayName": "Image URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate with AI",
              "displayName": "Generate with AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Topic",
              "displayName": "Blog Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Points",
              "displayName": "Key Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Email",
              "displayName": "Approver Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Name",
              "displayName": "Approver Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Sheet with AI Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        920
      ],
      "id": "ddbc040e-e5c8-4ba6-ab20-bb0960652244",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Generate with AI'] }}",
              "value2": "Yes"
            }
          ]
        }
      },
      "name": "Use AI Generation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        920
      ],
      "id": "4d1326fe-c279-4fda-b411-6aeb7b2a2ef9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": " application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "=AIzaSyDXaVCTbHG4APgV5_1PELDjgK8FnhzemBs"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"You are a professional blog writer for Arzani, a UK business marketplace focused on helping people buy and sell businesses. Write a comprehensive, well-structured blog post with the following specifications:\\n\\nTitle:  {{ $json['Blog Title'] }} -UK1\\n\\nTarget audience: UK business owners, potential business buyers, and entrepreneurs\\n\\nTopic/Focus: {{ $json['Blog Title'] }} -UK1\\n\\nKey points to include: Professional business valuation, market trends, optimization strategies\\n\\nTone: Professional but conversational, authoritative but accessible\\n\\nFormat: Use proper HTML formatting with h2 and h3 headings, paragraphs, bullet points where appropriate, and 1-2 call-to-actions encouraging readers to use Arzani's business valuation services: https://www.arzani.co.uk/seller-questionnaire.\\n\\nLength: 1000-1500 words\\n\\nStructure: Include an introduction, 3-5 main sections with subheadings, and a conclusion.\\n\\nMake sure to include relevant UK-specific market information and regulations where appropriate. Use British English spelling and terminology. Ensure that you done include this: ```html and ``` at the start or end of the outputted html\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192\n  }\n}\n",
        "options": {}
      },
      "name": "Generate Blog with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -120,
        920
      ],
      "id": "3bca10b2-3948-43cf-bac5-05c155d17ea7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8WV9xVSkhFIsDfL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI-generated content\nconst response = $input.item.json;\nconst item = $('Google Sheets Trigger').first().json;\n\nlet generatedContent = '';\n\n// Check if the response has the expected structure\nif (response.candidates && response.candidates[0] && response.candidates[0].content && response.candidates[0].content.parts && response.candidates[0].content.parts[0]) {\n generatedContent = response.candidates[0].content.parts[0].text;\n\n// Strip out ```html and ``` if present\ngeneratedContent = generatedContent\n  .replace(/^```html\\s*/i, '') // Remove opening ```html or ```HTML\n  .replace(/```$/i, '') // Remove closing ```\n  .trim();\n\n} else {\n  throw new Error('Unexpected API response structure from Gemini');\n}\n\n// Generate meta description from first paragraph\nlet metaDescription = '';\nconst firstParagraph = generatedContent.match(/<p>(.*?)<\\/p>/s);\nif (firstParagraph && firstParagraph[1]) {\n  // Strip HTML tags from first paragraph and limit to 160 chars\n  metaDescription = firstParagraph[1].replace(/<[^>]*>/g, '').substring(0, 160);\n  if (metaDescription.length === 160) metaDescription += '...';\n}\n\n// Extract all the fields\nconst title = item['Blog Title'] || '';\nconst author = item.Author || 'Arzani Team';\nconst categoriesAndTags = item['Categories & Tags'] || '';\nconst slug = item['Slug/Permalink'] || '';\nconst imageUrls = item['Image URLs'] || '';\nconst publishDate = item['Publish Date'] || new Date().toISOString().split('T')[0];\n\n// Process image URLs\nlet imageUrlsArray = [];\nif (imageUrls && imageUrls.includes(',')) {\n  imageUrlsArray = imageUrls.split(',').map(url => url.trim());\n} else if (imageUrls) {\n  imageUrlsArray = [imageUrls.trim()];\n}\n\n// Validate slug\nlet cleanSlug = slug;\nif (!cleanSlug) {\n  // Generate slug from title\n  cleanSlug = title.toLowerCase()\n    .replace(/[^\\w\\s-]/g, '') // Remove special chars\n    .replace(/\\s+/g, '-') // Replace spaces with hyphens\n    .replace(/-+/g, '-'); // Remove consecutive hyphens\n}\n\n// Create a structured blog post object\nconst blogPost = {\n  title,\n  metaDescription: metaDescription || item['Meta Description'] || `${title} - Insights from Arzani's expert business marketplace`,\n  author,\n  content: generatedContent,\n  categoriesAndTags,\n  slug: cleanSlug,\n  imageUrls: imageUrlsArray,\n  publishDate,\n  status: 'AI Generated',\n  processedAt: new Date().toISOString(),\n  aiGenerated: true\n};\n\n// Return the processed blog post\nreturn {json: blogPost};\n"
      },
      "name": "Process AI Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        100,
        920
      ],
      "id": "9b64fc27-4eab-433e-98d7-033f4fd0562f"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Title": "={{ $('Process Content').item.json.title }}",
            "Meta Description": "={{ $('Process Content').item.json.metaDescription }}",
            "Author": "={{ $('Process Content').item.json.author }}",
            "Content Body": "={{ $('Process Content').item.json.content }}",
            "Categories & Tags": "={{ $('Process Content').item.json.categoriesAndTags }}",
            "Slug/Permalink": "={{ $('Process Content').item.json.slug }}",
            "Publish Date": "={{ $('Process Content').item.json.publishDate }}",
            "Generate with AI": "=",
            "Status": "={{ $('Process Content').item.json.status }}",
            "Image URLs": "={{ $('Process Content').item.json.imageUrls[0] }}"
          },
          "matchingColumns": [
            "Blog Title"
          ],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Body",
              "displayName": "Content Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories & Tags",
              "displayName": "Categories & Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug/Permalink",
              "displayName": "Slug/Permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URLs",
              "displayName": "Image URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate with AI",
              "displayName": "Generate with AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Topic",
              "displayName": "Blog Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Points",
              "displayName": "Key Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Email",
              "displayName": "Approver Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Name",
              "displayName": "Approver Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Status to Published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        760,
        720
      ],
      "id": "6409f6d0-3c0a-40c8-93ab-e92b0401f4d7",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value2": "approve"
            }
          ]
        }
      },
      "name": "Action = Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        1220
      ],
      "id": "786e6f9b-84b6-41a7-958d-54bb7428cc60"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Rejected Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        100,
        1320
      ],
      "id": "7b928810-b1ea-4744-b8f8-02bd19077e83",
      "webhookId": "ai-content-approval",
      "parametersUi": {
        "contentType": "text/html",
        "responseBody": "<html><body><h1>Content Rejected</h1><p>The AI-generated blog post has been rejected.</p><p><a href=\"https://azani.co.uk/admin/blog\">Return to Blog Admin</a></p></body></html>"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Approved Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        720
      ],
      "id": "899fe5e7-974e-4206-b5e1-bf4d89a67e3f",
      "webhookId": "ai-content-approval",
      "parametersUi": {
        "contentType": "text/html",
        "responseBody": "<html><body><h1>Content Approved</h1><p>The AI-generated blog post has been approved and published.</p><p><a href=\"https://azani.co.uk/blog/{{ $json.slug }}\">View Published Post</a></p></body></html>"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Body",
              "displayName": "Content Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categories & Tags",
              "displayName": "Categories & Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug/Permalink",
              "displayName": "Slug/Permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URLs",
              "displayName": "Image URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate with AI",
              "displayName": "Generate with AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Topic",
              "displayName": "Blog Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Points",
              "displayName": "Key Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Email",
              "displayName": "Approver Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approver Name",
              "displayName": "Approver Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Status to Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -120,
        1320
      ],
      "id": "d22c0e0e-cfad-4b4f-a75e-88f5b72867f3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50",
          "mode": "list",
          "cachedResultName": "Blog sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197uchkUU-m5ePCYdz4qJZpApCBaHGrEl4epyysicE50/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get AI Blog from Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -100,
        1120
      ],
      "id": "9efc81e5-e2a0-4677-ac3b-f5c0551f98b0",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N771RNEAERs6VMmz",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "hello@arzani.co.uk",
        "fromName": "Arzani",
        "toEmail": "hello@arzani.co.uk",
        "subject": "AI-Generated Blog Post Ready for Review: {{ $json.title }}",
        "contentType": "text/html",
        "contentValue": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { text-align: center; margin-bottom: 30px; }\n    .header img { max-width: 150px; }\n    .content { background-color: #f9f9f9; padding: 20px; border-radius: 5px; }\n    .preview { background-color: white; padding: 15px; border-left: 4px solid #316FD4; margin: 20px 0; }\n    .button { display: inline-block; padding: 10px 20px; background-color: #316FD4; color: white !important; text-decoration: none; border-radius: 5px; }\n    .footer { margin-top: 30px; font-size: 12px; color: #777; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <img src=\"https://arzani.co.uk/figma design exports/logos/white-arzani-logo.svg\" alt=\"Arzani Logo\">\n    </div>\n    <div class=\"content\">\n      <h1>Blog Post Published!</h1>\n      <p>Your blog post has been successfully published to the Arzani website.</p>\n      <p><strong>Title:</strong> {{ $('Process Content').item.json.title }}</p>\n      <p><strong>Author:</strong> {{ $('Process Content').item.json.author }}</p>\n      <p><strong>Publication Date:</strong> {{ $json['Publish Date'] }}</p>\n      <p>You can view your published post by clicking the button below:</p>\n      <p><a href=\"https://arzani.co.uk/blog/{{ $json['Slug/Permalink'] }}\" class=\"button\">View Published Post</a></p>\n    </div>\n    <div class=\"footer\">\n      <p>© {{ new Date().getFullYear() }} Arzani. All rights reserved.</p>\n      <p>If you have any questions, please contact our support team.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        960,
        720
      ],
      "id": "6b1438a0-22f1-4217-adbc-de24d4f69997",
      "name": "Send Approval Email",
      "credentials": {
        "sendGridApi": {
          "id": "WZx60vM8JFEwZ8Yp",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "hello@arzani.co.uk",
        "fromName": "Arzani",
        "toEmail": "hello@arzani.co.uk",
        "subject": "=AI-Generated Blog Post Ready for Review:  {{ $json.title }}",
        "contentType": "text/html",
        "contentValue": "=You can read this at https://arzani.co.uk/blog/{{ $json.slug }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        280,
        920
      ],
      "id": "a54af764-3ffd-4e42-ae58-0ffa62234cad",
      "name": "Send Email Notification1",
      "credentials": {
        "sendGridApi": {
          "id": "WZx60vM8JFEwZ8Yp",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://arzani.co.uk/webhooks/n8n/update-sitemap",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Token",
              "value": "efgnwokejfneofi2i213290nskoqdwqwenjoo"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "n8n_workflow"
            },
            {
              "name": "postSlug",
              "value": "={{ $json.slug || $json['Slug/Permalink'] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        600
      ],
      "id": "update-sitemap-node",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8WV9xVSkhFIsDfL",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Status = Approved?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Use AI Generation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status = Approved?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Content": {
      "main": [
        [
          {
            "node": "Publish to CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to CMS": {
      "main": [
        [
          {
            "node": "Update Status to Published",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Published": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use AI Generation?": {
      "main": [
        [
          {
            "node": "Generate Blog with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog with Gemini": {
      "main": [
        [
          {
            "node": "Process AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Content": {
      "main": [
        [
          {
            "node": "Send Email Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action = Approve?": {
      "main": [
        [
          {
            "node": "Get AI Blog from Sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status to Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Rejected": {
      "main": [
        [
          {
            "node": "Rejected Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Blog from Sheet1": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Approved Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification1": {
      "main": [
        [
          {
            "node": "Update Sheet with AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with AI Content": {
      "main": [
        [
          {
            "node": "Publish to CMS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to CMS1": {
      "main": [
        [
          {
            "node": "Update Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41fa6890-a999-471e-9627-f74ab6707eff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cac95b8f2cca08f3c3fb9bbdc4eeaea309a93918ef2ad6aaa8f7f20747b99afa"
  },
  "id": "0Txoc38o2TlDI7f9",
  "tags": [
    {
      "createdAt": "2025-04-06T14:20:49.383Z",
      "updatedAt": "2025-04-06T14:20:49.383Z",
      "id": "FGgfqYBHW3HDGitu",
      "name": "automation"
    },
    {
      "createdAt": "2025-04-06T14:20:49.347Z",
      "updatedAt": "2025-04-06T14:20:49.347Z",
      "id": "GpXc1zQS6rXeO2RQ",
      "name": "ai"
    },
    {
      "createdAt": "2025-04-06T14:20:49.411Z",
      "updatedAt": "2025-04-06T14:20:49.411Z",
      "id": "Wws29qUMxLwJw5rd",
      "name": "blog"
    }
  ]
}